.trans2-test{width: 250px; height: 200px;}
#trans2-1:hover{transform: translateX(50px);}
#trans2-2:hover{transform: translateY(50px);}
#trans2-3:hover{transform: translate(50px, 50px);}
#trans2-4:hover{transform: scaleX(2);}
#trans2-5:hover{transform: scaleY(2);}
#trans2-6:hover{transform: scale(2,2);}
#trans2-7:hover{transform: rotate(45deg);}
#trans2-8:hover{transform: skewX(45deg);}
#trans2-9:hover{transform: skewY(45deg);}
#trans2-10:hover{transform: skew(10deg, 10deg);}

.trans3-test{width: 250px; height: 200px;}
#trans3-1:hover{transform: perspective(300px) translate3d(100px, 100px, 100px);}
#trans3-2:hover{transform: perspective(300px) translateZ(100px);}
#trans3-3:hover{transform: perspective(300px) rotateX(30deg);}
#trans3-4:hover{transform: perspective(300px) rotateY(30deg);}
#trans3-5:hover{transform: rotateZ(30deg);}
#trans3-6:hover{transform: perspective(300px) rotate3d(2.5, 1.5, -1.5, 30deg);}

.to-wrap, .flower{border: 1px solid black; width: 300px; height: 200px;}
.to-wrap{display: inline-block;}
.flower:hover{transform: rotate(25deg);}
#left-top{transform-origin: left top;}
#right-top{transform-origin: right top;}
#left-bottom{transform-origin: left bottom;}
#right-bottom{transform-origin: right bottom;}

.bv-test{width: 300px; height: 200px; border: 1px solid black;}
.bv-test:hover{transform: rotateY(180deg);}
#back1:hover{backface-visibility: hidden;}

.transition{width: 100px; height: 100px; border: 1px solid black; background-color: red;}
#t1:hover{background-color: pink;}
#t1{transition-duration: 2s;}
#t2:hover{transform: rotate(180deg); background-color: aqua; width: 200px; height: 200px;}
#t2{
    transition-property: background-color, transform, width, height;
    transition-duration: 10s, 5s, 1s, 7s;
}
#t3:hover{background-color: yellowgreen; transform: rotate(180deg);}
#t3{
    transition-duration: 2s;
    /* 느렷다 빨랏다 느렷다 */
    transition-timing-function: ease;
    /* 일정한 속도 */
    transition-timing-function: linear;

}

#t4:hover{transform: rotate(180deg); background-color: skyblue;}
#t4{transition-duration: 3s; transition-delay: 2s;}